<nav class="navbar navbar-expand-lg navbar-light bg-green">
    <a [routerLink]="['/gestao']" class="navbar-brand">Gestão de Contratos</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarConteudo" aria-controls="navbarConteudo" aria-expanded="false" aria-label="Toggle Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarConteudo">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/gestao']" routerLinkActive="active" class="nav-link" >Contratos</a>
            </li>
        </ul>
    </div>
</nav>