<h4 class="card-title mb-4">Lista de Equipamentos</h4>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Filtrar por:</label>
    <div class="col-sm-10">
        <input class="form-control" [(ngModel)]="filtro"  />
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr class="text-center">
            <th>ID</th>
            <th>Nome</th>
            <th>Sequencial</th>
            <th>Unidade</th>
            <th>Detalhes</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let equipamentos of equipamentosFiltrados">
            <td class="text-center align-middle">{{ equipamentos.id }}</td>
            <td class="align-middle">{{ equipamentos.nome }}</td>
            <td class="align-middle">{{ equipamentos.sequencial }}</td>
            <td class="align-middle">{{ equipamentos.unidade }}</td>
            <td class="text-center align-middle">
                <a [routerLink]="['/inventario/detalhe', equipamentos.id ]" class="btn btn-success">Details</a>
            </td>
        </tr>
    </tbody>
</table>